body,html {
    padding: 0;
    margin: 0;
}

#logo {
    margin-top: 43px;
    float: left;
    width: 100%;
}

#rss {
    margin-top: 43px;
    float: left;
    width: 100%;
}

#menu {
    width: 100%;
    float: none;
}

#logo a {
    display: block;
    width: 100%;
    height: auto; /* Cambiato da 106px a auto */
    text-indent: -9999px;
    background: transparent url(immagini/logo.png) no-repeat 0 0;
    margin: 0;
    padding: 0;
    float: none;
}

nav {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 53px;
    position: fixed;
    top: 0;
    gap: 10px;
    background-color: black;
}

/* Rimuovere gli stili per le immagini del logo e dell'RSS qui se non sono necessari */

/* Aggiungi i media query per il tablet e il PC se necessario */

/* Stile comune per tutti i dispositivi */

nav .logo svg {
    width: 98px;
    height: 30px;
}

header {
    margin-bottom: 100px;
}

main {
    text-align: center;
}

.selling-online,
.sell-anywhere,
.grow-faster,
.manage-simply {
    padding: 0px 0px;
    margin-top: 30px;
}

.selling-online h2,
.sell-anywhere h2,
.grow-faster h2,
.manage-simply h2 {
    font-size: 45px;
    color: #333333;
    padding: 0px 2px;
    letter-spacing: 1px;
}

.selling-online p,
.sell-anywhere p,
.fb-insta p,
.grow-faster p,
.manage-simply p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 38px;
}

.selling-online button,
.sell-anywhere button,
.grow-faster button,
.manage-simply button {
    background-color: #fae053;
    color: #000000;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px 15px;
    border: 1.5px solid white;
    border-radius: 16px;
    margin-bottom: 15px;
}

.selling-online label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #797979;
    font-size: 18px;
}

